# Created by .ignore support plugin (hsz.mobi)
.gradle
.DS_Store
/build
/captures
/classes
/local.properties
/.idea/libraries
/.idea/copyright
/.idea/dictionaries
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/compiler.xml
*.iml